{# assignstates html #}

{% extends 'nav.html' %}

{% block content %}

{% for t in teach %}
<p>{{t.wname}}</p>
<fast-tabs>
    <fast-tab slot="tab">Class one</fast-tab>
    <fast-tab slot="tab">Class two</fast-tab>
    <fast-tab slot="tab">Class three</fast-tab>
    <fast-tab slot="tab">Class four</fast-tab>
    <fast-tab slot="tab">Class five</fast-tab>
    <fast-tab slot="tab">Class six</fast-tab>
    <fast-tab slot="tab">Class seven</fast-tab>
    <fast-tab-panel slot="tabpanel">Tab panel 1
        <fast-select>
            {% for c in clss %}
            <fast-option value="1">{{c.name}}</fast-option>
            {% endfor %}
        </fast-select>
    </fast-tab-panel>
    
    <fast-tab-panel slot="tabpanel">Tab panel 2</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 3</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 4</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 5</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 6</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 7</fast-tab-panel>


</fast-tabs>
<p>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.classname.label }}{{ form.classname() }}
        {{ form.section1.label }}{{ form.section1() }}
        {{ form.section2.label }}{{ form.section2() }}
        {{ form.submit() }}


    </form>    


    {% if classname %}
    <div class="container">
        <table>
            <tr>
              <th>Classname</th>
              <th>Section</th>
            </tr>
            <tr>
              <td>{{classname}}</td>
              <ul>
                <li>
                    {{section1}}
                </li>
                <li>
                    {{section2}}
                </li>
              </ul>
            </tr>
        </table>
    </div>

        <p>The Classname you entered is {{classname}}</p>
        <p>Section1 {{section1}}Section2 {{section2}}</p>
        
        
    {% else %}
        Please enter the classname.
    {% endif %}

    
</p>

{% endfor %}

{% endblock%}