{# assignclasses html #}

{% extends 'nav.html' %}

{% block content %}

<p>{{form.teacher()}}</p>
<fast-tabs>
    <fast-tab slot="tab">{{form.class1.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class2.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class3.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class4.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class5.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class6.label}}</fast-tab>
    <fast-tab slot="tab">{{form.class7.label}}</fast-tab>
    <fast-tab-panel slot="tabpanel">Tab panel 1
        <fast-select>
            {% for c in clss %}
            <fast-option value="1">{{c.name}}</fast-option>
            {% endfor %}
        </fast-select>
    </fast-tab-panel>
    
    <fast-tab-panel slot="tabpanel">Tab panel 2</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 3</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 4</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 5</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 6</fast-tab-panel>
    <fast-tab-panel slot="tabpanel">Tab panel 7</fast-tab-panel>


</fast-tabs>
<p>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.classname.label }}{{ form.classname() }}
        {{ form.section1.label }}{{ form.section1() }}
        {{ form.section2.label }}{{ form.section2() }}
        {{ form.submit() }}


    </form>    


    {% if form.classname() %}
    <div class="container">
        <table>
            <tr>
              <th>Classname</th>
              <th>Section</th>
            </tr>
            <tr>
              <td>{{form.classname()}}</td>
              <ul>
                <li>
                    {{form.section1()}}
                </li>
                <li>
                    {{form.section2()}}
                </li>
              </ul>
            </tr>
        </table>
    </div>

        <p>The Classname you entered is {{form.classname()}}</p>
        <p>The Classname you entered </p>
        <p>Section1 {{form.section1()}}Section2 {{form.section2()}}</p>
        
        
    {% else %}
        Please enter the classname.
    {% endif %}

    
</p>



{% endblock%}