{# classes html #}

{% extends 'nav.html' %}
{% block content %}

  <h1>Classes</h1>
  <div class="container">
  
  <table>
    <tr>
      <th>Sections</th>
      <th>Name</th>
      <th>Grades</th>
      <th>AllClass</th>
    </tr>
      {% for c in classinfo%}
      <tr>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineSectionA" value="option1">
          <label class="form-check-label" for="inlineSectionA">A</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineSectionB" value="option2">
          <label class="form-check-label" for="inlineSectionB">B</label>
        </div>
        
      </td>
      <td>
        {{c.name}}
      </td>
      <td>
        
        {{c.grades}}
      </td>
      <td>
        
        {% if c.allclass %}
          <div class="form-check form-check-inline">
             <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
             <label class="form-check-label" for="inlineCheckbox1">{{c.allclass}}</label>
          </div>
            
        {% else %}
            <div class="form-check form-check-inline">
             <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
             <label class="form-check-label" for="inlineCheckbox1">{{c.allclass}}</label>
         </div>           
         
        {% endif %}
        
      </td>
     
      </tr>
      {%endfor%}
  
</table>
</div>
{% endblock %}